NEXT_PUBLIC_URL=
APP_HOSTNAME=
PROTOCOL=http
PORT=3000

NEXT_PUBLIC_APPWRITE_HOSTNAME=
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_API_KEY=

DEFAULT_MAIL_DOMAIN=
AUTH_SECRET=

NEXT_PUBLIC_API_URL=